:root {
  --main-bg-color: white;
  --main-font-color: black;
  --second-bg-color: black;
  --second-font-color: white;
}


border {
  box-sizing: border-box;
}


/* Container */

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.container-work-experience {
  display: flex;
  flex-flow: row wrap;
}

.container-work-experience > * {
  flex-basis: 100%;
}

.container > * {
  flex: 1 1 10em;
}

.container-interests,
.container-skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.container-skills-item {
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--second-bg-color);
  color: var(--second-font-color);
  margin: 5px;
  padding: 5px;
}

.container-interests-item {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}


#img-profile {
  border-radius: 100%;
  margin: 0 25%;
}

.profile-list-items {
  list-style-type: none;
  text-align: right;
}

.profile-list-items > li {
  margin-top: 5px;
}

.profile-list-items a {
  text-decoration: none;
  color: var(--main-font-color);
}

.work-list-item {
  list-style-type: none;
}

hr {
  /*
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  */

  background: linear-gradient(#000, #585659);
  border: none;
  height: 0.5rem;
}

.job-title {
  font-size: 1.5rem;
  padding: 0.5rem 0 0.5rem 0;
}

.job-element {
  background-color: var(--second-bg-color);
  color: var(--second-font-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0.5rem;

  position: relative;

  overflow: hidden;
}

.job-element a {
  color: var(--second-font-color);
}

.job-tasks {
  font-size: 1.3rem;
}

.job-element * {
  text-align: left;
  margin: 0.5rem;
}

.no-hover-view,
.hover-view {
  transition: all 500ms ease;
}

.hover-view {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateX(-150%);
  width: 100%;
  height: 100%;
  margin: 0;
}

.job-element:hover > .no-hover-view {
  transform: translateY(150%);
}

.job-element:hover > .hover-view {
  transform: translateX(0);
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  border-radius: 5px;
}

.social-networks-link {
  display: inline;
  margin-top: 10px;
}

.social-networks-link > a > img {
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.social-networks-link > a:hover > img {
  transform: scale(1.5) translateY(.5rem);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.img-social-networks {
  width: 2rem;
  margin: .5rem;
  border-radius: 10px;
}

.contact {
  margin: 1rem 1rem 1rem 0;
}

body {
  padding: 5%;
  margin: 5% 10%;
}

section > h1 {
  text-align: center;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  flex-flow: column no-wrap;
  justify-content: space-between;
  align-items: stretch;

  margin-bottom: 2rem;
}

nav > a {
  flex: 1 1 10em;
  text-align: center;
  text-decoration: none;
  background-color: var(--second-bg-color);
  color: var(--second-font-color);
  height: auto;
  padding: 1rem 0;
}

nav > a:hover {
  background-color: darkgray;
}
